<%= render "navbar" %>

<div class="well well-large">
  <h3>Contact details</h3>
</div>

<address class="contact">
  <strong>Ice Flag</strong><br>
  <strong>Dirk Grandjean</strong><br>
  <a href="mailto:#">jobs@auto-uitlaat.nl</a>
</address>
