.login {
  position: fixed;
  top: 46px;
  right: 42px;
}

.description {
  position: relative;
  top: 10px;
  left: 25px;
  width: 70%;
}

.instructions {
  position: relative;
  top: 10px;
  left: 25px;
  width: 70%;
}

.communication {
  position: relative;
  top: 10px;
  left: 25px;
  width: 70%;
}

.text_area {
  width: 600px;
  height: 150px;
}

.well-small {
  background-color: #99CCCC;
}

.contact {
  position: relative;
  top: 10px;
  left: 25px;
  width: 70%;
}

.quote {
  position: relative;
  top: 40px;
  left: -70%;
}

.middle {
  position: relative;
  padding: 8%;
}

.displayinstructions {
  position: relative;
  top: 100px;
  right: 42px;
}
